<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>bot and user db api</title>
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
  <div class="phone-container">
  <h1 class="center-text">
    <br/>DB-api
    <br/>
    後台管理<br/><br/>
  </h1>
  <div class="button-group">
    <!--bot api-->
    <a href="google.com" class="custom-button">
      bot-id
    </a>
    <br/>
    <!--user api-->
    <a href="google.com" class="custom-button">
      user-id
    </a>
  </div>
  </div>
</body>
</html>